.parent{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;

}
img{
  width:200px;
  height:auto;
}
body{
  background-color:lightgreen;
}
.ChildOne{
  width: 30%;
  padding: 2%;
  border: 1px solid red;
  margin: 2%;
  background-color: skyblue;
 box-shadow: 3px 3px 3px ;
  border-radius: 10px;
}
.childTwo{
  width:70%;
  padding: 2%;
  border: 1px solid #ddd;
  margin: 2%;
  background-color:  pink;
}

@media only screen and (min-width:360px) and (max-width:480px)
 {
   .parent{
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
   body{
     background-color: skyblue;
   }
   .ChildOne
   {
     width: 50%;
     padding: 2%;
     border: 1px solid violet;
     margin: 2%;
     box-shadow: 9px 9px 9px blue;
     background-color: purple;

     border-radius: 10px;
     background:pink
   }
   {
    <p> text-align: center </p>;
   }
   .childTwo{
     width: 50%;
     padding: 2%;
     border: 1px solid #ddd;
     margin: 2%;
        background-color: pink
   }

}
